<div id="container">
  <aside class="sidebar closed">
    <nav>
      <a class="sidebar-item flex active" href="">
        <i class="fas fa-list-alt"></i>
        <p>Dashboard</p>
      </a>
      <a class="sidebar-item flex" href="">
        <i class="fas fa-exchange"></i>
        <p>Transactions</p>
      </a>
      <a class="sidebar-item flex" href="">
        <i class="fas fa-credit-card"></i>
        <p>Accounts</p>
      </a>
      <a class="sidebar-item flex" href="">
        <i class="fas fa-line-chart"></i>
        <p>Reports</p>
      </a>
      <a class="sidebar-item flex" href="">
        <i class="fas fa-shopping-basket"></i>
        <p>Budget</p>
      </a>
      <a class="sidebar-item flex" href="">
        <i class="fa-solid fa-sliders"></i>
        <p>Settings</p>
      </a>
    </nav>
  </aside>
  <div class="open-side closed"></div>
  <header class="page-header flex">
    <button class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <h1>Dashboard</h1>
  </header>
  <main class="main-dashboard">
    <section class="section" id="networth-section">
      <div class="section-header flex">
        <div class="section-header-txt flex">
          <i class="fas fa-caret-down" aria-hidden="true"></i>
          <h3>NET WORTH</h3>
        </div>
        <p class="section-header-amt"></p>
      </div>
      <div class="section-body flex"></div>
    </section>
    <section class="section" id="transaction-section">
      <div class="section-header flex">
        <div class="section-header-txt flex">
          <i class="fas fa-caret-down" aria-hidden="true"></i>
          <h3>NEW TRANSACTION</h3>
        </div>
      </div>
      <div class="section-body">
        <div class="account-nav flex">
          <p class="account-nav-txt active danger">Expense</p>
          <p class="account-nav-txt">Transfer</p>
          <p class="account-nav-txt">Income</p>
        </div>
        <form class="set-transaction-container">
          <div class="input-container">
            <label for="title" class="input-container-label">From</label>
            <div class="input-dropdown-container flex">
              <div class="currency-item-cons">
                <div class="items-container flex">
                  <div class="select-input-wrapper">
                    <p class="transaction-selected flex"></p>
                  </div>
                  <i class="fas fa-caret-down" aria-hidden="true"></i>
                </div>
                <ul class="dropdown transaction-dropdown"></ul>
              </div>
              <div class="transaction-amt-container flex">
                <input type="number" id="input-amt" min="0.01" step="0.01" />
                <div class="currency-item-cons">
                  <div class="items-container flex">
                    <div class="select-input-wrapper">
                      <p class="transaction-selected flex"></p>
                    </div>
                    <i class="fas fa-caret-down" aria-hidden="true"></i>
                  </div>
                  <ul class="dropdown transaction-amt-dropdown"></ul>
                </div>
              </div>
            </div>
          </div>
          <div class="input-tag-container">
            <label for="title">Tags</label>
            <div class="input-dropdown-container flex">
              <div class="currency-item-cons">
                <div class="items-container flex tag-container">
                  <div class="select-input-wrapper flex">
                    <div class="selected label-add" id="tag-selected">
                      Choose existing tags or add new
                    </div>
                    <input type="text" id="tag-input" autocomplete="off" />
                  </div>
                  <i class="fas fa-caret-down" aria-hidden="true"></i>
                </div>
                <ul class="dropdown tag-dropdown"></ul>
              </div>
              <input
                type="text"
                placeholder="Note"
                id="note"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="transaction-input-container flex">
            <input type="date" required />
            <button id="add-items">Add Expense</button>
          </div>
        </form>
      </div>
    </section>
    <section class="section">
      <div class="section-header flex">
        <div class="section-header-txt flex">
          <i class="fas fa-caret-down" aria-hidden="true"></i>
          <h3>RECENT TRANSACTION</h3>
        </div>
      </div>
      <div class="section-body">
        <p class="notransaction flex">No transactions found.</p>
      </div>
    </section>
  </main>
</div>
