<div id="container">
  <aside class="sidebar closed">
    <nav>
      <a class="sidebar-item flex" href="/">
        <i class="fas fa-list-alt"></i>
        <p>Dashboard</p>
      </a>
      <a class="sidebar-item flex" href="/transactions">
        <i class="fas fa-exchange"></i>
        <p>Transactions</p>
      </a>
      <a class="sidebar-item flex" href="/accounts">
        <i class="fas fa-credit-card"></i>
        <p>Accounts</p>
      </a>
      <a class="sidebar-item flex active" href="/reports">
        <i class="fas fa-line-chart"></i>
        <p>Reports</p>
      </a>
      <a class="sidebar-item flex" href="/budget">
        <i class="fas fa-shopping-basket"></i>
        <p>Budget</p>
      </a>
      <a class="sidebar-item flex" href="/settings">
        <i class="fa-solid fa-sliders"></i>
        <p>Settings</p>
      </a>
    </nav>
  </aside>
  <div class="open-side closed"></div>
  <header class="page-header flex">
    <button class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <h1>Transactions</h1>
  </header>
  <main>
    <div class="ui large icon message">
      <i aria-hidden="true" class="hourglass half icon"></i>
      <div class="content">
        <div class="header">Work in Progress</div>
        <p>This page is not ready yet, check back later 😉</p>
      </div>
    </div>
  </main>
</div>
