<div id="container">
  <aside class="sidebar closed">
    <nav>
      <a class="sidebar-item flex" href="/dashboard">
        <i class="fas fa-list-alt"></i>
        <p>Dashboard</p>
      </a>
      <a class="sidebar-item flex active" href="/transactions">
        <i class="fas fa-exchange"></i>
        <p>Transactions</p>
      </a>
      <a class="sidebar-item flex" href="/accounts">
        <i class="fas fa-credit-card"></i>
        <p>Accounts</p>
      </a>
      <a class="sidebar-item flex" href="/reports">
        <i class="fas fa-line-chart"></i>
        <p>Reports</p>
      </a>
      <a class="sidebar-item flex" href="/budget">
        <i class="fas fa-shopping-basket"></i>
        <p>Budget</p>
      </a>
      <a class="sidebar-item flex" href="/settings">
        <i class="fa-solid fa-sliders"></i>
        <p>Settings</p>
      </a>
    </nav>
  </aside>
  <div class="open-side closed"></div>
  <header class="page-header flex">
    <button class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <h1>Transactions</h1>
  </header>
  <main>
    <div class="container-header flex">
      <button class="add-new-container flex">
        <i class="fas fa-plus" aria-hidden="true"></i>
        <span>New</span>
      </button>
      <div class="filter-date-container flex">
        <i class="fas fa-calendar" aria-hidden="true"></i>
        <div aria-live="polite" aria-atomic="true" class="selected-date">
          30 Jul - 06 Aug
        </div>
        <div class="drop-menu hidden">
          <div
            role="option"
            aria-checked="false"
            aria-selected="false"
            class="item"
            style="pointer-events: all"
          >
            <span class="text">Today</span>
          </div>
          <div
            role="option"
            aria-checked="false"
            aria-selected="false"
            class="item"
            style="pointer-events: all"
          >
            <span class="text">Yesterday</span>
          </div>
          <div
            role="option"
            aria-checked="false"
            aria-selected="false"
            class="item active"
            style="pointer-events: all"
          >
            <span class="text">Last 7 days</span>
          </div>
          <div
            role="option"
            aria-checked="false"
            aria-selected="false"
            class="item"
            style="pointer-events: all"
          >
            <span class="text">Last 30 days</span>
          </div>
          <div
            role="option"
            aria-checked="false"
            aria-selected="false"
            class="item"
            style="pointer-events: all"
          >
            <span class="text">This month</span>
          </div>
          <div
            role="option"
            aria-checked="false"
            aria-selected="false"
            class="item"
            style="pointer-events: all"
          >
            <span class="text">Custom date</span>
          </div>
        </div>
      </div>
      <button class="filter-container">
        <i class="fas fa-filter" aria-hidden="true"></i>
      </button>
    </div>
  </main>
</div>
