@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* Import normalize css from npm module */

@import 'normalize.css';

@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
  --White: #fff;
  --light-black: rgba(0, 0, 0, 0.87);
  --grey-background: #e8e8e8;
  --primary-blue: #3f51b5;
  --grey-200: #bfbfbfde;
  --red: #db2828;
}

/* Reset style sheets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--White);
  color: var(--light-black);
  line-height: 1.4285em;
  font-size: 1.4rem;
}
