@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* Import normalize css from npm module */

@import 'normalize.css';

@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
  --White: #fff;
  --light-black: rgba(0, 0, 0, 0.87);
  --black-txt: #000000de;
  --grey-background: #e8e8e8;
  --primary-blue: #3f51b5;
  --grey-200: #bfbfbfde;
  --grey-100: rgb(247, 247, 247);
  --red: #db2828;
  --grey-300: rgb(224, 224, 224);
  --blue-border: rgb(133, 183, 217);
}

/* Reset style sheets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--White);
  color: var(--light-black);
  line-height: 1.325em;
  font-size: 1.5rem;
  font-weight: 300;
}

.setup-header {
  padding: 2.5rem 1.8rem;
  border-bottom: 1px solid var(--grey-200);
  align-items: center;
}

.icon {
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 0.1rem;
  align-items: center;
}

.icon > .fa-lg {
  grid-row: 1/3;
  font-size: 3.5rem;
}

.icon > i {
  font-size: 1.8rem;
  color: var(--light-black);
}

#header-txt {
  font-weight: 400;
  margin: 0;
  text-wrap: nowrap;
}

#setup-main {
  padding: 2.5rem 1.8rem;
  color: var(--black-txt);
}

#currencies {
  margin-bottom: 3.5rem;
}

#currencies-header,
#accounts-header {
  font-weight: 400;
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
}

#currencies-txt,
#accounts-txt {
  margin-bottom: 1.5rem;
}

.select-currency-container,
.set-account-container {
  flex-direction: column;
  gap: 1.5rem;
}

.type-name {
  font-weight: 500;
  display: inline-block;
  margin-bottom: 0.4rem;
  font-size: 1.5rem;
  width: 100%;
}

.currency-item-cons {
  height: 100%;
  background: var(--White);
  position: relative;
  font-size: 1.455rem;
}

.items-container {
  padding: 1.1rem;
  z-index: 99;
  border: 1px solid var(--grey-300);
  border-radius: 7px;
}

.items-container.open-border {
  border: 1px solid var(--blue-border);
  border-radius: 7px 7px 0 0;
  border-bottom: none;
}

.selected {
  align-items: center;
  gap: 1.2rem;
  position: absolute;
}

.selected.blur {
  opacity: 0.6;
}

.selected > img,
.dropdown-item img {
  max-width: 2rem;
  object-fit: cover;
  object-position: center;
}

.items-container input {
  width: 100%;
  min-width: 5rem;
  flex: 1;
  outline: none;
  border: none;
  background: none;
  z-index: 999;
}

.items-container > i {
  padding: 0 1rem;
}

.label-add {
  color: var(--grey-200);
  font-weight: 400;
}

.dropdown {
  width: 100%;
  left: 0;
  max-height: 0;
  overflow-y: auto;
  scroll-behavior: smooth;
  transition: max-height 0.2s ease;
  position: absolute;
  z-index: 99999999;
  background-color: var(--White);
}

.dropdown.border {
  border: 1px solid var(--blue-border);
  border-top: none;
  border-radius: 0 0 7px 7px;
}
.dropdown.show {
  max-height: 11.8rem;
}

.dropdown-item {
  align-items: center;
  gap: 1.2rem;
  padding: 0.9rem;
  font-size: 1.4rem;
  border-bottom: 1px solid var(--grey-100);
  cursor: pointer;
  transition: background 0.2s ease;
}

.noresult {
  padding: 0.6rem 1rem;
  color: var(--grey-200);
  font-weight: 400;
}

.dropdown::-webkit-scrollbar {
  width: 1rem;
  border-radius: 5px;
  background-color: rgb(250, 249, 249);
  padding: 1px;
}

.dropdown::-webkit-scrollbar-thumb {
  background-color: rgb(196, 194, 194);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.dropdown::-webkit-scrollbar-thumb:hover {
  background-color: rgb(112, 112, 112);
  border-radius: 10px;
}

.dropdown-item.active {
  background-color: var(--grey-100);
  font-weight: 600;
}

.dropdown-item:hover {
  background-color: var(--grey-100);
}
.select-input-wrapper {
  flex-wrap: wrap;
  gap: 0.8rem;
  width: 100%;
}

.add-selected-currencies {
  align-items: center;
  background-color: var(--grey-300);
  justify-content: space-between;
  max-width: 7rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--grey-200);
  border-radius: 5px;
  gap: 1rem;
}

.add-selected-currencies > i {
  color: rgb(185, 185, 185);
  cursor: pointer;
  transition: color 0.2s ease;
  font-weight: 900;
  font-size: 1.8rem;
}

.add-selected-currencies > i:hover {
  color: var(--light-black);
}

.account-item-container input {
  border: 1px solid var(--grey-300);
  width: 100%;
  padding: 1.074rem;
  border-radius: 7px;
  outline: none;
}

.account-item-container input:focus,
.account-amt-container input:focus {
  border: 1px solid var(--blue-border);
}

.account-setup-container {
  gap: 1rem;
  align-items: center;
}

.account-type-container .items-container {
  padding: 0.945rem;
  align-items: center;
}

.check-txt-container {
  width: 56.25%;
}

.custom-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  user-select: none;
}

/* Hide native checkbox */

.custom-checkbox input[type='checkbox'] {
  opacity: 0;
  position: absolute;
}

/* Custom checkmark box */
.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid var(--grey-300);
  background-color: transparent;
  border-radius: 5px;
}

/* Checkmark style */
.custom-checkbox .checkmark::after {
  content: '';
  position: absolute;
  display: none;
  left: 5px;
  top: 1px;
  width: 8px;
  height: 13px;
  border: solid var(--light-black);
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

/* Show tick when checked */
.custom-checkbox input:checked ~ .checkmark::after {
  display: block;
}

.check-txt-container label {
  font-weight: 400;
  cursor: pointer;
}

.account-amt-container {
  flex: 1;
  height: 100%;
}

.account-amt-container input {
  width: 100%;
  padding: 1.1rem;
  border: 1px solid var(--grey-300);
  text-align: end;
  border-radius: 7px 0 0 7px;
  outline: none;
}

.account-amt-container p {
  padding: 1rem;
  background-color: var(--grey-background);
  border-radius: 0 7px 7px 0;
}

#save-account {
  padding: 1.1rem;
  flex: 1;
  border: none;
  background-color: var(--primary-blue);
  color: var(--White);
  border-radius: 7px;
  cursor: pointer;
}
/* UTILITY STYLE */

.flex {
  display: flex;
  flex: 1;
}

.grid {
  display: grid;
}

.dp-none {
  display: none;
}

.remove-padding {
  padding: 0.6rem 1.1rem;
}
.remove-padding > i {
  padding: 0 1rem;
  margin-top: 0.7rem;
}

li {
  list-style-type: none;
}

#important {
  color: var(--red);
}

input::placeholder {
  color: var(--grey-200);
}
